{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .play-button {
        color: white; /* Белый цвет текста */
        font-family: 'Trebuchet MS', serif; /* Шрифт Trebuchet MS */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень текста */
    }
</style>
<h1 style="text-align: center;">{{ game.title }}</h1>
<p style="text-align: center;">{{ game.description }}</p>

<div id="game-container"></div>  
<div id="game-container" style="text-align: center;">
<iframe name=game id="game-iframe" src="{% static game.script_file %}" width="600" height="600" frameborder="0">
</iframe>
</div>

{% endblock %}